@font-face {
    font-family: "arcadeclassic";
    src: url("../fonts/arcadeclassic-regular.woff2") format("woff2"),
         url("../fonts/arcadeclassic-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
  background-image: url("../img/pattern.png");
}

.header {
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 10px;
}
.header h1 {
  text-align: center;
  font-family: monospace;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 60px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 10px;
}

label {
  font-family: arcadeclassic, monospace;
  font-size: 25px;
  padding-top: 5px;
}
#name {
  width: 25%;
  float: bottom right;
}

#robo {
  margin-top: 15px;
  background-image: url("../img/speech.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 40%;
  width: 60%;
}

.speech {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80%;
  padding-top: 5px;
}

#prompt-number {
  display: none;
}
